<div class='p2 container mx-auto'>

  <h1 class='mb3'>Add Employee</h1>

  <div class="clearfix mxn1 md-col-10">
    <div class='col col-12 sm-col-5 px1'>
      <label class='block'>First Name</label>
      <input class='input' type='text' />
    </div>

    <div class='col col-12 sm-col-2 px1'>
      <label class='block truncate'>Middle Initial</label>
      <input class='input' type='text' />
    </div>

    <div class='col col-12 sm-col-5 px1'>
      <label class='block'>Last Name</label>
      <input class='input' type='text' />
    </div>

    <div class='col col-12 sm-col-12 px1'>
      <label class='block'>Address Street 1</label>
      <input class='input' type='text' />
    </div>

    <div class='col col-12 sm-col-3 px1'>
      <label class='block'>Zip code</label>
      <input class='input' type='text' />
    </div>

    <div class='col col-12 sm-col-6 px1'>
      <label class='block truncate'>City</label>
      <input class='input' type='text' />
    </div>

    <div class='col col-12 sm-col-3 px1'>
      <label class='block'>State</label>
      <input class='input' type='text' />
    </div>
  </div>

  <h2 class='mt3 mb2'>Employment</h2>

  <div class="clearfix mxn1 md-col-10">
    <div class='col col-12 sm-col-4 px1'>
      <label class='block'>Start data</label>
      <input class='input' type='date' />
    </div>

    <div class='col col-12 sm-col-4 px1'>
      <label class='block truncate'>End date</label>
      <input class='input' type='date' />
    </div>

    <div class='col col-12 sm-col-4 px1'>
      <label class='block'>Status</label>
      <input class='input' type='text' />
    </div>

    <div class='col col-12 sm-col-12 px1'>
      <label class='block'>Job Title</label>
      <input class='input' type='text' />
    </div>

    <div class='col col-12 sm-col-4 px1'>
      <label class='block'>Rate of Pay</label>
      <input class='input' type='number' />
    </div>

    <div class='col col-12 sm-col-4 px1'>
      <label class='block truncate'>Pay Type</label>
      <select class='select'>
        <option>Per Hour</option>
      </select>
    </div>

    <div class='col col-12 sm-col-4 px1'>
      <label class='block'>Pay Interval</label>
      <select class='select'>
        <option>Bi-weekly</option>
      </select>
    </div>
  </div>

  <div class='py3'>
    <button class='btn btn-primary regular' type='button'>Save</button>
  </div>
</div>
