<div class='bg-navy white'>
  <div class='p2 container mx-auto sm-flex items-center'>
    <div class='mb1 sm-m0 flex-auto'>
      <div class='h5 light'>Employer</div>
      <div class='h2'>Acme Candles</div>
    </div>
    <div>
      <div class='h5 light'>Case ID</div>
      <div class='h2'>00345678</div>
    </div>
  </div>
</div>

<div class='p2 container mx-auto'>
  <h1 class='mb3'>Import Excel File</h1>
  <div class='mb3'>
    <div class='mb1 h3'>1. Select file</div>
    <input type="file" multiple="false" />
  </div>
  <div class='mb3'>
    <div class='mb1 h3'>2. Choose which columns to import</div>
    <div class="overflow-scroll">
      <table class="py2">
        <thead>
          <tr>
            <th>Artist</th> <th>Album</th> <th>Release Date</th>
          </tr>
        </thead>
        <tbody>
          <tr> <td>Huey Lewis and the News</td> <td>Sports</td> <td>1983</td> </tr>
          <tr> <td>Phil Collins</td> <td>No Jacket Required</td> <td>1985</td> </tr>
          <tr> <td>Peter Gabriel</td> <td>So</td> <td>1986</td> </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div>
    <button class='btn btn-primary regular' type='button'>Import</button>
    <button class='btn btn-outline regular' type='button'>Cancel</button>
  </div>
</div>
