<div class='bg-navy white'>
  <div class='p2 container mx-auto sm-flex items-center'>
    <div class='mb1 sm-m0 flex-auto'>
      <div class='h5 light'>Employer</div>
      <div class='h2'>Dunder Mifflin</div>
    </div>
    <div>
      <div class='h5 light'>Case ID</div>
      <div class='h2'>123456789</div>
    </div>
  </div>
</div>

<div class='p2 container mx-auto'>
  <h1 class='mb3'>Import Excel File</h1>
  <div class='mb3'>
    <div class='mb1 h3'>1. Select file</div>
    <input type='file' (change)='loadFile($event)' multiple='false'>
    <div *ngIf='data && data.length' class='py2'>
      <div class='h6 bold caps'>Preview data</div>
      <div class='py1'>
        <button
          type="button"
          class="btn btn-small btn-outline h5 regular"
          [disabled]="!idx"
          (click)="seek(-1)"
        >
          Prev
        </button>
        <button
          type="button"
          class="btn btn-small btn-outline h5 regular"
          [disabled]="idx + 1 === data.length"
          (click)="seek(1)"
        >
          Next
        </button>
      </div>
      <div>Showing row {{ idx + 1 }} of {{ data.length }}:</div>
      <pre class='m0 p2 bg-darken-1 overflow-auto'>{{ data[idx] | json }}</pre>
    </div>
  </div>
  <div class='mb3'>
    <div class='mb1 h3'>2. Choose which columns to import</div>
    <div>
      <div
        *ngFor="let col of cols"
        class='py1 border-bottom border-silver'
      >
        {{ col.name }}
      </div>
    </div>
  </div>
  <div>
    <button class='btn btn-primary regular' type='button'>Import</button>
    <button class='btn btn-outline regular' type='button'>Cancel</button>
  </div>
</div>
