<div class='p2 container mx-auto'>
  <h1 class='mb3'>Import Excel File</h1>
  <div class='mb3'>
    <div class='mb1 h3'>1. Select file</div>
    <input type='file' (change)='handleUpload($event)' multiple='false'>
    <div *ngIf='error' class='my2 px2 py1 white bg-red rounded'>
      <strong>Uh-oh!</strong> {{ error }}
    </div>
    <div *ngIf='data && data.length' class='mt3'>
      <div class='mb1 h6'>
        <strong class='caps'>Preview data</strong> (first 5 rows)
      </div>
      <div class="bg-white overflow-auto">
        <table class="h6 table-bordered nowrap">
          <thead>
            <tr>
              <th *ngFor="let cell of dataRaw[0]">{{ cell }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of dataRaw.slice(1, 6)">
              <td *ngFor="let cell of row">{{ cell }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class='mb3'>
    <div class='mb1 h3'>2. Choose which columns to import</div>
    <div class="overflow-auto">
      <table class="table-light">
        <thead>
          <tr>
            <th class='col-4'>WHISARD Database</th>
            <th class='col-4'>Imported File</th>
            <th class='col-4'>
              <div *ngIf='data && data.length' class='right xs-hide'>
                <button
                  type="button"
                  class="btn btn-outline px1 py0 h5 regular"
                  [disabled]="!idx"
                  (click)="seek(-1)"
                >
                  ⇽
                </button>
                <span class='inline-block px-tiny h6 regular'>
                  {{ idx + 1 }}
                </span>
                <button
                  type="button"
                  class="btn btn-outline px1 py0 h5 regular"
                  [disabled]="idx + 1 === data.length"
                  (click)="seek(1)"
                >
                  ⇾
                </button>
              </div>
              <span>Sample Row</span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let field of fields">
            <td>{{ field.name }}<br>({{ field.id }})</td>
            <ng-container *ngIf="!data">
              <td>
                <select class='select m0 h-2 sm-col-6' disabled='true'>
                  <option>--<option>
                </select>
              </td>
              <td>--</td>
            </ng-container>
            <ng-container *ngIf="data">
              <td>
                <select
                  class='select m0 h-2 sm-col-10'
                  [value]='field.match || "--"'
                  (change)="mapField(field.id, $event.target.value)"
                >
                  <option disabled='true' value='--'>Select column</option>
                  <option *ngFor="let key of dataKeys">{{ key }}</option>
                </select>
              </td>
              <td>{{ field.match ? data[idx][field.match] : '--' }}</td>
            </ng-container>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div>
    <button class='btn btn-primary regular' type='button'>Import</button>
    <button class='btn btn-outline regular' type='button'>Cancel</button>
  </div>
</div>
