@import '~ace-css/css/ace.min.css';

html {
  font-size: 18px;
}

body {
  background-color: #ebeff1;
}

body,
h1,
h2,
h3,
h4,
h5 {
  font-family: avenir next, avenir, helvetica, arial, sans-serif;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
}

th {
  font-weight: bold;
  text-align: left;
  vertical-align: bottom;
}

th,
td {
  line-height: inherit;
  padding: .5rem;
}

td {
  vertical-align: middle;
}

.container {
  max-width: 1000px;
}

.monospace {
  font-family: consolas, courier, monospace;
}

.light {
  font-weight: 300;
}

.table-light th,
.table-light td {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(0, 0, 0, .125);
}

.table-light tr:last-child td {
  border-bottom: 0;
}

.h-2 {
  height: 2rem;
}
